{% extends "base.html" %}{% load static %} {% block cssjs %}
<link rel="stylesheet" href="{% static 'css/top.css' %}">{% endblock %} {% block content %}
<p> Hi! :)</p>
<div class="contents fade-in">
        <div class="content">
            <div class="img">
                <img src="{{ work.image }}" style="width:100%" />
            </div>
            <div class="text">
                <h3>{{work.title}}</h3>
                <p class="sub">{{work.date}}</p>
                <p class="text-content">{{work.context}}</p>
            </div>
        </div>
    </div>
{% endblock %}