{% extends "base.html" %} {% block content %}
    <div class="top">
      <h2>Gallarey</h2>
      <p>イラストからアプリケーションまでさまざまなジャンルのものを作っています。</p>
    </div>


    <div id="content">
      <div id="wrapper">
        <div id="container">
          {% for post in posts.all %}
          <div class="item fade-in">
            <a href="#">
              <div class="imgWrap">
                <p class="post-title">{{post.title}}</p>
                <img src="{{ post.image.url }}" />
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}