{% extends "base.html" %} {% load static %} {% block cssjs %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">{% endblock %} {% block content %}
<div class="top">
    <h2>Gallarey</h2>
    <p>イラストからアプリケーションまでさまざまなジャンルのものを作っています。</p>
</div>


<div id="content">
    <div id="wrapper">
        <div id="container">
            {% for work in works %}
            <div class="item fade-in">
                <a href="#">
                    <div class="imgWrap">
                        <p class="post-title">{{work.title}}</p>
                        <img src="{{ work.image }}" />
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}